$primary-color: #4285f4;
$background-color: #fff;
$text-color: #535353;
$error-color: #f44336;


table {
  width: 100%;
  background-color: $background-color;
  border-collapse: collapse;
  margin-top: 1em;

  th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
    color: $text-color;
  }

  th {
    font-weight: 500;
    color: #555;
    background-color: #f5f5f5;
  }

  //efeito zebrado na tabela
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }


  button {
    background-color: $error-color;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($error-color, 10%);
    }
  }
}

// Estilo para a mensagem "Nenhum parceiro encontrado"
ng-template {
    p {
        text-align: center;
        color: #999;
        margin-top: 20px;
    }
}


