<div *ngIf="partners.length; else noData">
  <table mat-table [dataSource]="partners" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let partner"> {{partner.name}} </td>
    </ng-container>

    <ng-container matColumnDef="repositoryGit">
      <th mat-header-cell *matHeaderCellDef> Repositório Git </th>
      <td mat-cell *matCellDef="let partner"> {{partner.repositoryGit}} </td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef> Serviço </th>
      <td mat-cell *matCellDef="let partner"> {{partner.service}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let partner">
        <button mat-button (click)="editPartner(partner.id)">Editar</button>
        <button mat-button (click)="deletePartner(partner.id)">Deletar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'service', 'repositoryGit', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'service', 'repositoryGit', 'actions'];"></tr>
  </table>
</div>
<ng-template #noData>
  <p>Nenhum parceiro encontrado.</p>
</ng-template>
