<form (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Usuário</mat-label>
      <input matInput [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="stayConnected" name="stayConnected">Manter Conectado</mat-checkbox>
    <button mat-raised-button type="submit">Entrar</button>
  </form>
  